<a href="https://colab.research.google.com/github/himanshusingh0981/Datascience-Essential/blob/main/Python4assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DAY 4 ASSIGNMENT 4

#Questions 1:
How to import pandas and check the version?

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.4

Questions 2:
How to create a series from a numpy array?

In [ ]:
import numpy as np
arr=np.array([1,2,34,5,6,43])
series=pd.Series(arr)
print(series)

0     1
1     2
2    34
3     5
4     6
5    43
dtype: int64

Questions 3:
How to convert the index of a series into a column of a dataframe?

In [4]:
import numpy as np
import pandas as pd

employees = [(11, 'jack', 34, 'Sydney', 70000) ,
          (12, 'Riti', 31, 'Delhi' , 77000) ,
          (13, 'Aadi', 16, 'Mumbai', 81000) ,
          (14, 'Mohit', 31,'Delhi' , 90000) ,
          (15, 'Veena', 12, 'Delhi' , 91000) ,
          (16, 'Shaunak', 35, 'Mumbai', 75000 ),
          (17, 'Shaun', 35, 'Colombo', 63000)
           ]

Dataset=pd.DataFrame(employees,columns=["Id","Name","Rollno","State","Salary"])
Dataset['index']=Dataset.index
print(Dataset)

   Id     Name  Rollno    State  Salary  index
0  11     jack      34   Sydney   70000      0
1  12     Riti      31    Delhi   77000      1
2  13     Aadi      16   Mumbai   81000      2
3  14    Mohit      31    Delhi   90000      3
4  15    Veena      12    Delhi   91000      4
5  16  Shaunak      35   Mumbai   75000      5
6  17    Shaun      35  Colombo   63000      6

Questions 4:
Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [5]:
import seaborn as sbn
dataset_all=sbn.get_dataset_names()
print(dataset_all)
data=sbn.load_dataset('mpg')
print(data)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']
      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Questions 5:
Which country origin cars are a part of this dataset?

In [6]:
import pandas as pd
d=sbn.load_dataset('mpg')
data=pd.DataFrame(d)
print(data['origin'].unique())

['usa' 'japan' 'europe']

Questions 6:
Extract the part of the dataframe which contains cars belonging to 'usa'

In [7]:
import seaborn as sbn
import pandas as pd
d=sbn.load_dataset('mpg')
data=pd.DataFrame(d)
print(data[data['origin']=='usa'])

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]